<nav class="navbar navbar-expand-sm  navbar" style="background:#813588">
  <a class="navbar-brand"><img src="https://cdn1.byjus.com/home/logo.svg" alt="byjus.com" width="198" height="55"></a>
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" style="color:#ffc846" id="navbardrop" data-toggle="dropdown">
        Experience
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" *ngFor='let exp of experiences' (click)="filter(exp,'experience')">{{exp}}</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" style="color:#ffc846" id="navbardrop" data-toggle="dropdown">
        Skills
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" *ngFor='let skill of skills' (click)="filter(skill,'skills')">{{skill}}</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" style="color:#ffc846" id="navbardrop" data-toggle="dropdown">
        Locations
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" *ngFor='let loc of location' (click)="filter(loc,'location')">{{loc}}</a>
      </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" style="color:#ffc846" id="navbardrop" data-toggle="dropdown">
          Sort by
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item"  (click)="sort('experience')">Experience</a>
          <a class="dropdown-item"  (click)="sort('location')">Location</a>
        </div>
      </li >
      <li class="nav-item pt-2">
          <span  (click)="shortOrder('asc')"><i class="fa fa-arrow-up sort"  aria-hidden="true"></i></span>
          <span (click)="shortOrder('dec')"><i class="fa fa-arrow-down sort"  aria-hidden="true"></i></span>
      </li>
  </ul>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="text" [(ngModel)]="searchtext" [ngModelOptions]="{standalone: true}"
      placeholder="Search">
  </form>
</nav>
<br>
<div class="text-center " *ngIf=" searchtext !==''"><strong>serachFilterList:{{searchtext}}</strong></div>
<div class="text-center " *ngIf=" order !==''"><strong>OrderBy:{{order}}</strong></div>
<div class="table-responsive table-bordered ">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Companyname</th>
        <th scope="col">Skills</th>
        <th scope="col">Experience</th>
        <th scope="col">Location</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let inf of info| filter: searchtext | slice:start:end ;let index = index;">
        <td>{{inf.title}}</td>
        <td>{{inf.companyname}}</td>
        <td>{{inf.skills}}</td>
        <td>{{inf.experience}}</td>
        <td>{{inf.location}}</td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<div>
  <ul class="pagination justify-content-center">
    <li class="page-item " [ngClass]="{'disabled':currentPage==0}">
      <a class="page-link" (click)="pagination('Previous')">Previous</a>
    </li>
    <li class="page-item " *ngFor="let page of getpages() | slice:pagestart:pageend;let index = index"
      [ngClass]="{'active':page-1==currentPage}"><a class="page-link" (click)="pagination(page)">{{page}}</a></li>
    <li class="page-item">
      <a class="page-link" (click)="pagination('Next')" [ngClass]="{'disabled':currentPage==info.length-1}">Next</a>
    </li>
  </ul>
</div>